*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
}

body {
    background-color:#0f172a;
}

h2,h3,p {
    color: #1e293b;
}

input,select {
    border: 1px solid #4f6f96;
    border-radius: 8px;
    outline: none;
    background-color: #ffff;
}
/* --- INPUT E SELECT ----*/

.container-main {
    background-color: #e6f0fa;
    border-radius: 30px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
    margin: auto;
    width: 90vw;
    height: 87vh;
    margin-top: 70px;
}

.header-grid {
    display: grid;
    grid-template-columns:965px 360px 825px;
    justify-items: center;
}


.div-ou {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 60px;
}


.lado-a-lado {
    display: flex;
    margin-top: 70px;
    width: 49rem;
    height: 3.9rem;
}

.moeda {
    margin-left: 12px;
}



.p1 {
    font-size: 35px
}

.p2 {
    font-size: 35px;
    margin-top: 60px;
}
#input1,#input2,#input-valor-item {
    padding: 5px 80px 12px 125px;
    border-radius: 10px;
    font-size: 25px;
}

select {
    border-radius: 10px;
    font-size: 26px;
    padding: 8px;
}

.select2 {
    display: flex;
    margin-top: 70px;
    height: 3.9rem;
}

h3 {
    margin-right: 15px;
    padding-top: 10px;
}

.p-select1,.p-select2 {
    display: none;
    margin: 14px 0 0 200px;
    font-size: 1.3rem;
}

.div-h1 {
    display: flex;
    justify-content: center;
    margin: 70px;
}
#h1 {
    display: none;
    color: red;
    font-size: 3rem;
    white-space: nowrap;
}


/* ---- VALOR DO ITEM ---- */

.value-item {
    display: flex;
    margin: 66px 0 0 506px;
}

h2 {
    margin: 14px 23px 0 0;
}

.button {
    margin-left: 10px;
    border-radius: 10px;
    width: 144px;
    height: 62px;
    font-size: 1.3rem;
    letter-spacing: 2px;
}

#zerar-campos {
    margin-left: 10px;
    border-radius: 10px;
    width: 144px;
    height: 62px;
    font-size: 1.3rem;
    letter-spacing: 2px;
}
/* ---- PORCENTAGEM DO SALÁRIO ---- */

.porcentagem-salario {
    margin: 97px 0 0 241px;
}

.p3 {
    display: none;
    font-size: 39px;
    margin-bottom: 20px;
}

.p4 {
    display: none;
    margin-top: 36px;
    font-size: 39px;
}

/* ---- QUANTOS SALARIOS ---- */

.parte-baixa {
    display: grid;
    grid-template-columns: 200px 200px 200px;
}

.flex {
    display: none;
    align-items: center;
    
}

.flex-h2 {
    display: none;
    align-items: center;
    width: 61.5rem;
    border-top: 1px solid black;
    margin-top: 30px;
}

.quantidade-salarios {
    margin: 20px 0 0 240px;
    border-top: 0 solid black;
}

.quantos-salarios1,.quantos-salarios2 {
    padding: 13px 100px 13px 120px;
    border-radius: 10px;
    font-size: 23px;
    margin-top: 20px;
    
}

.video {
    width: 30%;
    position: absolute;
    bottom: 100px;
    right: 0vh;
    
}

.video iframe {
    border-radius: 40px;
    
}



.p6 {
    display: inline-block;
    font-size: 30px;
    margin: 0 0 20px 90px;
}

.aga2 {
    font-size: 30px;
    margin: 20px 0 10px;
    width: 67rem;
}

.calcular {
    padding: 14px;
    margin: 20px 7px 0 10px;
    border-radius: 9px;
    font-size: 1.3rem;
    letter-spacing: 2px;
}

.div-final {
    display: none;
    width: 57rem;
}



/* -------- MEDIA QUERIES -------- */


@media (max-width: 900px) {
    .container-main {
        height: 120rem;
        width: 71rem;
    }
    .header-grid {
        grid-template-rows:208px 257px 333px;
        grid-template-columns: unset;
    }

    .lado-a-lado {
        width: 52rem;
    }

    #input1,#input2,#input-valor-item {
        padding: 5px 80px 12px 150px;
    }
    .item1 {
        margin-right: -11px;
    }

    .div-ou {
        margin-right: 40px;
        margin-top: 85px;
    }

    .p2 {
        margin-top: -32px;
    }
    .h3 {
        margin-right: 12px;
    }

    .item2 {
        margin-left: 100px;
    }

    .div-h1 {
        margin: 0;
        flex-wrap: wrap;
        align-items: center;
        
    }

    #h1 {
        text-align: center;
        white-space: normal;
    }

    .value-item {
        margin: 60px 0 0 67px;
    }

    .quantidade-salarios {
        margin: 20px 0 0 150px;;
    }

    .porcentagem-salario {
        margin: 97px 0 0 150px;
    }

    .video {
        width: 45rem;
        position: relative;
        top: 335px;
        left: 5rem;
    }

    .p6 {
        font-size: 37px;
        margin: 0 0 25px 44px;
    }

    .video iframe {
        width: 565px;
        height: 300px;
    
    }
}
