*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
}

body {
    background-color:#0f172a;
}

h2,h3,p {
    color: #1e293b;
}

input,select {
    border: 1px solid #4f6f96;
    border-radius: 8px;
    outline: none;
    background-color: #ffff;
}
/* --- INPUT E SELECT ----*/

.container-main {
    background-color: #e6f0fa;
    border-radius: 30px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
    margin: auto;
    width: 90vw;
    height: 87vh;
    margin-top: 70px;
}

.header-grid {
    display: grid;
    grid-template-columns: 355px 426px;
    justify-content: center;
    gap: 6%;
    justify-items: center;
}
.item1 {
   
    position: relative;
    right: 220px;
}

.item2 {
   
    position: relative;
    left: 431px;
}

.lado-a-lado {
    display: flex;
    margin-top: 70px;
    width: 80vh;
    height: 3.9rem;
}

.moeda {
    margin-left: 12px;
}

.p1 {
    position: absolute;
    right: 73rem;
    top: 17rem;
    font-size: 35px
}

.p2 {
    position: absolute;
    right: 73rem;
    top: 9rem;
    font-size: 35px;
}
#input1,#input2,#input-valor-item {
    padding: 5px 80px 12px 125px;
    border-radius: 10px;
    font-size: 25px;
}

select {
    border-radius: 10px;
    font-size: 26px;
    padding: 8px;
}

.select2 {
    display: flex;
    margin-top: 70px;
    height: 3.9rem;
}

h3 {
    margin-right: 15px;
    padding-top: 10px;
}

.p-select1,.p-select2 {
    display: none;
    margin: 14px 0 0 200px;
    font-size: 1.3rem;
}

#h1 {
    display: none;
    color: red;
    margin: 4vh 0 4vh 50vh;
    font-size: 3rem;
}


/* ---- VALOR DO ITEM ---- */

.value-item {
    display: flex;
    margin: 66px 0 0 506px;
}

h2 {
    margin: 14px 23px 0 0;
}

.button {
    margin-left: 10px;
    border-radius: 10px;
    width: 144px;
    height: 62px;
    font-size: 1.3rem;
    letter-spacing: 2px;
}

#zerar-campos {
    margin-left: 10px;
    border-radius: 10px;
    width: 144px;
    height: 62px;
    font-size: 1.3rem;
    letter-spacing: 2px;
}
/* ---- PORCENTAGEM DO SALÁRIO ---- */

.porcentagem-salario {
    margin: 97px 0 0 241px;
}

.p3 {
    display: none;
    font-size: 39px;
    margin-bottom: 20px;
}

.p4 {
    display: none;
    margin-top: 36px;
    font-size: 39px;
}

/* ---- QUANTOS SALARIOS ---- */

.parte-baixa {
    display: grid;
    grid-template-columns: 200px 200px 200px;
}

.flex {
    display: none;
    align-items: center;
    
}

.flex-h2 {
    display: none;
    align-items: center;
    width: 61.5rem;
    border-top: 1px solid black;
    margin-top: 30px;
}

.quantidade-salarios {
    margin: 20px 0 0 240px;
    border-top: 0 solid black;
}

.quantos-salarios1,.quantos-salarios2 {
    padding: 13px 100px 13px 120px;
    border-radius: 10px;
    font-size: 23px;
    margin-top: 20px;
    
}

.video {
    width: 30%;
    position: absolute;
    bottom: 100px;
    right: 0vh;
    
}

.video iframe {
    border-radius: 40px;
    
}



.p6 {
    display: inline-block;
    font-size: 30px;
    margin: 0 0 20px 90px;
}

.aga2 {
    font-size: 30px;
    margin: 20px 0 10px;
    width: 67rem;
}

.calcular {
    padding: 14px;
    margin: 20px 7px 0 10px;
    border-radius: 9px;
    font-size: 1.3rem;
    letter-spacing: 2px;
}

.div-final {
    display: none;
    width: 57rem;
}



/* -------- MEDIA QUERIES -------- */

@media (max-width: 1880px) {
    .video iframe {
        width: 400px;
        height: 300px;
    }

    .lado-a-lado {
        width: 88vh;
    }

    .p1 {
        top: 23.8vh;
        right: 99vh;
    }

    .p2 {
        right: 99vh;
        top: 11.3vh;
    }
}

@media (max-width: 1500px) {
    .container-main {
        height: 180vh;
    }
    .header-grid {
        grid-template-rows:355px 426px;
        grid-template-columns: unset;
    }
    .item1 {
        right: 0;
    }

    .item2 {
        left: 0;
        top: -5vh;
    }

    .p1 {
        top: 37.8vh;
        right: 87vh;
    }

    .p2 {
        right: 87vh;
        top: 45.3vh;
    }
}